# `Python` in a nutshell: Part 2

## Table of Content

- [1. Landing on Planet Python](#III)
    * 1.1 [Motivation](Python_in_a_nutshell_Part1.ipynb)
    * 1.2 [History](Python_in_a_nutshell_Part1.ipynb)
    * 1.3 [What is an interpreted language?](Python_in_a_nutshell_Part1.ipynb)
    * 1.4 [First steps](Python_in_a_nutshell_Part1.ipynb)
    * 1.5 [Arithmetic operators](Python_in_a_nutshell_Part1.ipynb)
    * 1.6 [Container objects](#IIIe)
        - 1.6.1 [Lists](#I.6.1-Lists:)
        - 1.6.2 [Sets](#1.6.2-Sets:)
        - 1.6.3 [Tuples](#1.6.3-Tuples)
        - 1.6.4 [Lists, sets and tuple methods](#1.6.4-Lists,-sets-and-tuple-methods:)
        - 1.6.5 [Dictionnaries](#1.5.5-Dictionaries)
    * 1.7 [Control flow statements](#IIIg)
        - 1.7.1 `if` [statements](#1.7.1-if-statements)
        - 1.7.2 `for` [loops](#1.7.2-for-loops)
        - 1.7.3 `while` [loops](#1.7.3-while-loops)
        - 1.7.4 [List comprehensions](#1.7.4-List-Comprehensions)
    * 1.8 [Scripts and functions](Scripts_and_functions.ipynb)
    * 1.9 [Python coding recommendations](#IIIh)
    * 1.10 [Summary](#1.10-Summary)
    
- [References and additional material](#References-and-Additional-material:)

## 1. Landing on Planet Python <a class="anchor" id="III"></a>

See [Python_in_a_nutshell_Part1.ipynb](Python_in_a_nutshell_Part1.ipynb) for part 1 of this notebook (Section 1.1 -> 1.5)

### 1.6 Container Objects  <a class="anchor" id="IIIe"></a>

Besides strings, and numeric variables (floats, integer), there is in python a variety of container types. These containers include **lists**, **tuples**, **sets** and **dictionaries**

#### 1.6.1 Lists: 

A list is an *ordered* sequence of objects that can be accessed by item indexing via square brackets `[ ]`. In python, indexing **is always zero-based**, i.e. the first index of a list (but this is also true for arrays -that we will study later-) is zero.

**Example:**
``` python
L = [1,2,3,4]
L[0] 
    Out: 1
L[2]
    Out: 3
```

An important characteristic of lists is that they can include objects of *various types*, including other lists. 

**Example:**
``` python
L2 = [1., L, 'hello world']
L2[2]
    Out: 'hello world'
```

In [1]:
# Experiment with the above command lines 
L = [1, 4, 'hello world', 4.0]
print(L)

[1, 4, 'hello world', 4.0]

In [2]:
type(L)

list

In [3]:
print(L[3])

4.0

In [4]:
L[0:3]

[1, 4, 'hello world']

To access several elements of a list/a sublist, this is called **index slicing**, you can use the semicolon `:`. The slicing can work in various ways:   
**Example:**
``` python
L[0:2]   # First two elements of a list  ; note that item with index #2 is EXCLUDED
L[:2]    # First two elements, 0 is implicit
L[::2]   # every 2 elements (from the first one with index 0)
L[-2:]   # Last two items 
L[i:]    # From the item i until the end (last entry is implicit). No error message if i > len(L) 
L[::-1]  # All items in reverse order
    
```
List can be generated also using the function list()

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of n characters has index n, for example:
``` python
 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1
```
The first row of numbers gives the position of the indices 0...6 (hereabove, in the string `'python'`); the second row gives the corresponding negative indices. The slice `[i:j]` from `i` to `j` consists of all characters between the edges labeled `i` and `j`, respectively.  

By calling item \# i, one gets the item at the right side of i. This is why calling item `n` of a list or string or (...) of size `n` will result an error message: there is no item on the right side of position `n` (n=6 in the example above).   

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. 


**Notes**: 
- A list is an *[iterable](https://docs.python.org/2/glossary.html#term-iterable)*, which means that one can iterate over the elements of a list. (`list.__iter__()`, `enumerate(list)`). This also means that there is special *methods* that allow you to get e.g. its length (`list.__len__()` or `len(list)`). 
- Contrary to a `string`, a `list` is mutable, which means that you can replace values of elements, or even clear elements of a list. For example `L[2:4] = []`, will clear elements \#2 and \#3 of list `L`.    
- *Slicing* in `python` works for any *[sequence](https://docs.python.org/2/glossary.html#term-sequence)* type  object. This includes built-in iterables (i.e. `string`, `list`, `tuple`), but also non iterable objects such as `dict` whose length can also be accessed with method `len()`.

In [5]:
print(L)

[1, 4, 'hello world', 4.0]

In [6]:
# use this cell to experiment with lists as described in the above examples, 
# and experiment with the various ways to slice through a list as described above
L[:3]

[1, 4, 'hello world']

In [7]:
L[1:]

[4, 'hello world', 4.0]

In [8]:
# Slicing with step
L[0:4:2]

[1, 'hello world']

In [9]:
# Slicing with reversed order
L[::-1]

[4.0, 'hello world', 4, 1]

In [10]:
# Slicing of a list of strings 
L2 = ['p', 'y', 't', 'h', 'o', 'n']
L2[0:5:2]

['p', 't', 'o']

In [11]:
# Slicing for a single string (i.e. not a list)
my_string = 'python'
my_string[0:5:2]

'pto'

In [12]:
# List is an iterable (use for loop ... we'll come back to the syntax below)
for list_element in L2: 
    print(list_element)

p
y
t
h
o
n

In [13]:
# a more "natural"but less nice way to iterate over elements of a list 
index_of_my_list = [0, 1, 2, 3, 4, 5]
for i in index_of_my_list:
    print(L2[i])

p
y
t
h
o
n

In [16]:
# You can also define the list of indices on the fly and skip some indices  
for i in [0,1,2, 3, 5]:
    print(i, L2[i])
print(L2)

0 p
1 y
2 t
3 h
5 n
['p', 'y', 't', 'h', 'o', 'n']

In [17]:
len(L2)

6

#### 1.6.2 Sets:

A **set** is a bit like a list BUT its elements are **unordered** and **unique** (no repetition).  
A set is built using the function `set([])`

**Example:**
``` python 
S = set([1,1,2,4,3,5])

S = {1,1,2,4,3,5}  # Another way to define a set object !
```
Use the cell below to see the output of `set` (`set` did not exist before python 2.6)

In [18]:
# Example of set defined using set()
L3 = [1,1,1, 3, 1, 2,4,3,5]
set(L3)

{1, 2, 3, 4, 5}

In [19]:
# Implicit definition with {} 
S1 = {1,1,1, 3, 1, 2, 4, 3, 5}
print(S1)

{1, 2, 3, 4, 5}

In [20]:
# Show that set is not subscriptable 
S1[1]

TypeError: 'set' object is not subscriptable

In [22]:
# Illustrate that the order in a set is not conserved 
print(L2)
set(L2)

['p', 'y', 't', 'h', 'o', 'n']

{'h', 'n', 'o', 'p', 't', 'y'}

In [23]:
print(L)
set(L)

[1, 4, 'hello world', 4.0]

{1, 4, 'hello world'}

In [24]:
L4 = [1, 3, 'hello world', 3.0]
set(L4)

{1, 3, 'hello world'}

#### 1.6.3 Tuples

Tuples are similar to lists but they are separated by parentheses `( )` instead of square brackets `[ ]`.   
They support indexing and slicing like lists. However, Tuples (like strings) are **immutable**, which means that once they are created, the items cannot be changed. 

**Example:**
``` python
L = [1,2,3,4]  # this is a List
T = (1,2,3,4)  # this is a Tuple
```

In [25]:
# Define a tuple 
T = (1,2, 3, 'Hello', 1 + 4j )
T

(1, 2, 3, 'Hello', (1+4j))

In [26]:
type(T)

tuple

In [27]:
# Create a list of length 5, and assign a value to item #2. 
# Do the same with a tuple. What is the difference ? 
L5 = [1, 2, 3, 'Hello', (1+4j)] 
L5[1] = 4857834
print(L5)

[1, 4857834, 3, 'Hello', (1+4j)]

In [28]:
T[1] = 4857834
print(T)

TypeError: 'tuple' object does not support item assignment

In [29]:
T2 = (1,)
T2

(1,)

In [30]:
T2[0]

1

At first sight, tuples may look unecessary, but they are NOT. It is important to be able to define some quantities that are immutable (e.g. to be sure that your code is not modifying a key quantity used). Tuples have another advantage that may not be apparent at first sight: they are more memory efficient. It may therefore be useful to use it for storing large data structure. It is also often tuples which are returned by python functions (don't worry, we'll see later what is a function in python).

#### 1.6.4 Lists, sets and tuple methods:

There are many operations that can be done on lists, sets and tuples and that you may want to do very soon.

- Add and remove elements from a list:
``` python
L.append(5) # Append an object at the end of a list
L.insert(3, 'q')  # insert a string "q" at location 3. 
L.pop()     # Removes last object (or object at a specified index) of a list
L.extend([6,8])  # Extend list, 'in-place'
```
- Concatenate and repeat lists:
``` python
L + L     # Concatenation
    Out: [1,2,3,4,1,2,3,4]
2 * L     # Repetition
    Out: [1, 2, 3, 4, 1, 2, 3, 4]
```
- Sort elements of a list:

``` python
L.sort()   # sort in-place

```

- Conversion of lists to other types:
	* Convert list to a tuple (Remember that tuple are immutable -> cannot be changed !):   
        `tuple(mylist)` 
	* Convert list to set: (set is a unordered collection of unique items => duplicates are LOST!)    
        `set(mylist)`
    * Convert list of strings to strings:    
        `''.join(Ls)`  

**Notes**: 
- For a more exhaustive overview of the methods applicable to lists, consult the [Data Structure section](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) of the Python tutorial.
- Convert list of integers to strings:
    ``` python
        listOfNumbers = [1, 2, 3]
        strOfNumbers = ''.join(str(n) for n in listOfNumbers)
	```

In [31]:
# Append an element to a list 
print(L)
L.append(5)
print(L)

[1, 4, 'hello world', 4.0]
[1, 4, 'hello world', 4.0, 5]

In [32]:
L.reverse()

In [33]:
L

[5, 4.0, 'hello world', 4, 1]

In [34]:
# Difference between views and copy 
L6 = L
print('L=', L)
print('L6 =', L6)

L= [5, 4.0, 'hello world', 4, 1]
L6 = [5, 4.0, 'hello world', 4, 1]

In [38]:
L[3]='Bye bye'
print('L=', L)
print('L6 =', L6)

L= [5, 4.0, 'hello world', 'Bye bye', 1]
L6 = [5, 4.0, 'hello world', 'Bye bye', 1]

In [39]:
# Use copy to ensure that you modify only the list of interest 
L7 = L.copy()
print('L=', L)
print('L7', L7)
L[3] = 3.985
print('L=', L)
print('L7', L7)

L= [5, 4.0, 'hello world', 'Bye bye', 1]
L7 [5, 4.0, 'hello world', 'Bye bye', 1]
L= [5, 4.0, 'hello world', 3.985, 1]
L7 [5, 4.0, 'hello world', 'Bye bye', 1]

In [40]:
# Experiment with list and tuple methods: e.g. insert a string and an integer in a list you defined previously
L7.insert(2, 'a')
print('L7', L7)
L7.insert(4, 1)
print('L7', L7)

L7 [5, 4.0, 'a', 'hello world', 'Bye bye', 1]
L7 [5, 4.0, 'a', 'hello world', 1, 'Bye bye', 1]

In [41]:
# Create a list of 6 integers, remove the 3rd one. Add a list of 2 strings. 
L8 = [0,1,2,3,4,5]
L8.pop(3)
print(L8)
L8.append(['s1', 's2'])
print(L8)

[0, 1, 2, 4, 5]
[0, 1, 2, 4, 5, ['s1', 's2']]

In [42]:
# use L.append(9)
print(L)
L.append(9)
print(L)

[5, 4.0, 'hello world', 3.985, 1]
[5, 4.0, 'hello world', 3.985, 1, 9]

In [43]:
# use L.extend([17, 24]) ; what is the difference between each method? 
print(L)
L.extend([17, 24])
print(L)

[5, 4.0, 'hello world', 3.985, 1, 9]
[5, 4.0, 'hello world', 3.985, 1, 9, 17, 24]

In [44]:
# Access elements of a list within a list 
L9 = [L, L3]
print(L9)
print(L9[0][2])  # access element 2 of the first list

[[5, 4.0, 'hello world', 3.985, 1, 9, 17, 24], [1, 1, 1, 3, 1, 2, 4, 3, 5]]
hello world

In [45]:
# Use the '+' operator on two lists
L10 = L + L2 
print(L10)

[5, 4.0, 'hello world', 3.985, 1, 9, 17, 24, 'p', 'y', 't', 'h', 'o', 'n']

In [46]:
# Usr the '*' operators on two lists
L2 * L2

TypeError: can't multiply sequence by non-int of type 'list'

In [47]:
print(L2)
print(2 * L2)

['p', 'y', 't', 'h', 'o', 'n']
['p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n']

In [48]:
# Use the method 'sort' on a list of integers 
L_of_integers = [0, 2, 41, 1, 34, 24]
print(L_of_integers)
L_of_integers.sort()
print(L_of_integers)

[0, 2, 41, 1, 34, 24]
[0, 1, 2, 24, 34, 41]

In [49]:
# In case informations about arguments of a method are needed, there is always a "help"

In [50]:
# Convert a list into a tuple 
T9 = tuple(L9)
print(T9)

([5, 4.0, 'hello world', 3.985, 1, 9, 17, 24], [1, 1, 1, 3, 1, 2, 4, 3, 5])

#### 1.6.5 Dictionaries

Another common built-in `Python` object is the **dictionary**. The dictionnary stores unordered sequence(s) of key-value pairs. It is defined using curly brackets `{ }`, and like lists allows mixing of types. It is a bit like a `list` for which each element has a label such that you can access this element by its label instead of accessing it by its position.    
**Example:**
``` python
D = {'one': 1, 'two': 2, 'three': 3, 'four': L}  # L is a list as defined above
D['two']
    Out:  2
D = dict(one=1, two=2, three=3, four=L)  # Another way to create a dictionary 
```

Dictionaries are often found as input/outputs of built-in or contributed functions. They work in fact behind the scene when you define new variables that you use within an `ipython` or `juPyter` session. You may have a look behind the curtain by calling `globals()` in the code-cell below. 

Also a dictionnary is NOT an iterable, you can get its length using the method `len().

In [51]:
# Use this cell  create a dictionnary with elements of different types (e.g. floats, lists, strings) 
L = [1, 4, 5765]
D = {'one': 42, 'key_2': 984., 'three': 'a_string', 'four': L}

In [53]:
# Access elements of a dictionnary 
print(D['one'])
print(D['four'])
print(D['three'])

42
[1, 4, 5765]
a_string

In [56]:
D.keys()

dict_keys(['one', 'key_2', 'three', 'four'])

In [63]:
D

{'one': 42, 'key_2': 984.0, 'three': 'a_string', 'four': [1, 4, 5765]}

In [68]:
for d_key in D.keys(): 
    print(D[d_key])

42
984.0
a_string
[1, 4, 5765]

In [69]:
# Modify the list containted in the dictionary ... and now check the content of the dictionary
L = [2, 4, 'blabla']
print(D)

{'one': 42, 'key_2': 984.0, 'three': 'a_string', 'four': [1, 4, 5765]}

In [70]:
D2 = {'one': 42, 'key_2': 984., 'three': 'a_string', 'four': L}
L[2] = 'Changed element of L'
D2

{'one': 42,
 'key_2': 984.0,
 'three': 'a_string',
 'four': [2, 4, 'Changed element of L']}

In [71]:
print(L)
D2 = {'one': 42, 'key_2': 984., 'three': 'a_string', 'four': L.copy()}
L[2] = 234
D2

[2, 4, 'Changed element of L']

{'one': 42,
 'key_2': 984.0,
 'three': 'a_string',
 'four': [2, 4, 'Changed element of L']}

In [60]:
# globals() 
# globals()

#### Exercises on data structure

In [82]:
# (1) Define a variable x, give it a value and print its value on screen 
x = 10 
print(x)

10

In [83]:
# (2) Can a list contain different types of objects / elements of different types ? Illustrate with an example 
# YES 
L = [1,1.0, 'a string']
print(L)

[1, 1.0, 'a string']

In [84]:
# (3) Can a 'dictionary' contain elements of different types ? Illustrate with an example 
# Yest
D3 = {'one': 42, 'key_2': 984., 'three': 'a_string', 'four': L.copy()}
print(D3)

{'one': 42, 'key_2': 984.0, 'three': 'a_string', 'four': [1, 1.0, 'a string']}

In [85]:
# (4) Can a 'tuple' contain elements of different types ? Illustrate with an example 
# yes
T = [1,1.0, 'a string']
print(T)

[1, 1.0, 'a string']

In [77]:
# (5) create a list of 3 color names and print it at the screen
# (5b) insert a new color as 2nd list element
colors = ['blue', 'red', 'green']
print(colors)
colors.insert(1, 'pink')
print(colors)

['blue', 'red', 'green']
['blue', 'pink', 'red', 'green']

In [87]:
colors.insert?

In [72]:
# (6) Create two lists L1 and L2 containing 3 elements each. 
# Create a third list L3 which "merges" the elements of L1 and L2 (and hence contains 6 elements)
# Input: L1 = [1, 4, 5] , L2 = [6, 8, 10] ; OUTPUT: L3 = [6, 8, 10, 1, 4, 5]
L1 = [1, 4, 5]  
L2 = [6, 8, 10] 
L3 = L1 + L2 
print(L3)

[1, 4, 5, 6, 8, 10]

In [88]:
L1 = [1, 4, 5] 
L2 = [6, 8, 10] 
L3 = L1.append(L2)
print(L1, len(L1))
print(L3)

[1, 4, 5, [6, 8, 10]] 4
None

In [75]:
L1 = [1, 4, 5] 
L2 = [6, 8, 10] 
L3 = L1.extend(L2)
print(L1)
print(L3)

[1, 4, 5, 6, 8, 10]
None

In [76]:
L1 = [1, 4, 5] 
L2 = [6, 8, 10] 
L3 = L1.copy()
L3.extend(L2)
print(L1)
print(L3)

[1, 4, 5]
[1, 4, 5, 6, 8, 10]

In [89]:
L1 = [1, 4, 5] 
L2 = [6, 8, 10] 
L3 = L1 + L2 
print('L1 = ', L1)
print('L2 = ', L2)
print('L3 = ', L3)

L1 =  [1, 4, 5]
L2 =  [6, 8, 10]
L3 =  [1, 4, 5, 6, 8, 10]

In [ ]:
# Warning APPEND would change the list in place ... and you cannot save it into another list

### 1.7 Control flow statements:     <a class="anchor" id="IIIg"></a>

Originally based on http://www.ster.kuleuven.be/~pieterd/python/html/pure_python/control_flow.html (broken link)

#### 1.7.1 if statements

The basic syntax for an if-statement is the following:
``` python 
if condition:
    # do something
elif condition:
    # do something else
else:
    # do yet something else
```

Notice that there is no statement to end the `if` statement. Beware of the presence of a colon (:) after each control flow statement. Python relies on indentation and colons to determine whether it is in a specific block of code. For example, in the following example:

``` python 
if a == 1:
    print("a is 1, changing to 2")
    a = 2
print("finished")
```

The first print statement, and the `a = 2` statement only get executed if a is 1. On the other hand, `print("finished")` gets executed regardless, once Python exits the if statement.

The conditions in the statements can be anything that returns a boolean value. For example, `a == 1`, `b != 4`, and `c <= 5` are valid conditions because they return either `True` or `False` depending on whether the statements are true or not. Standard comparisons can be used (`==` for equal, `!=` for not equal, `<=` for less or equal, `>=` for greater or equal, `<` for less than, and `>` for greater than), as well as logical operators (`and`, `or`, `not`). Parentheses can be used to isolate different parts of conditions, to make clear in what order the comparisons should be executed, for example:

``` python
if (a == 1 and b <= 3) or c > 3:
    # do something
```

More generally, any function or expression that ultimately returns `True` or `False` can be used.

Along with comparisons, another commonly-used operator is `in`. This is used to test whether an item is contained in any collection:

``` python
b = [1, 2, 3]   
2 in b   
    Out: True   
5 in b   
    Out: False
```

If `b` is a dictionary , this tests that the item is a key of `b`.

In [98]:
a = 3 
print('a before if statement =', a)

if a == 1:
    print("a is 1, changing to 2")
    a = 2
    if a == 2: 
        a = 4
    print('a after the if statement ', a)
print("finished")

a before if statement = 3
finished

In [102]:
# Try if statement with different kind of containers (i.e. list, set, tuple, dictionnary)
a, b = 2, 4
if (a+b == 3) | (a == 1):
    print('a + b = ', a + b)

In [106]:
a, b = 0.1, 0.2
if (round(a + b, 1) == 0.3, 1): 
    print('a + b = ', a + b)

a + b =  0.30000000000000004

In [104]:
print(a+b)

0.30000000000000004

In [110]:
# A good way to deal with equality of floats is to fix a precision that we want to be reached
epsilon = 1.e-13
if abs((a + b - 0.3)) <= epsilon: 
    print('a + b = ', a + b)

a + b =  0.30000000000000004

Most of the time, the above comparators will suffice for defining your `if` statement. There are however a few cases where this is not enough. To test if a variable is `True`, `False` or of type `NoneType` or if two variables are the same object, you should use the identity check reserved keyword `is` (or `is not`). This keyword enables one to check if two variables are the same object or if a boolean is `True` / `False`. 

``` python 
n = None 
if n is None:
    print('n is None')

Out[]: 'n is None'
    
b = True
if b is not False:
    print('b is True')

Out[]: 'b is True'

x = [1]
y = x
if x is y:
    print('x and y are the same object')
```

In [113]:
n = ()   # empty tuple 
if n is None:
    print('n is None')

In [114]:
n = None   
if n is None:
    print('n is None')

n is None

In [115]:
b = True
if b is not False:
    print('b is True')

b is True

In [116]:
if type(b) is bool:
    print('b is a boolean')

b is a boolean

In [117]:
if type(b) is float:
    print('b is a float')
elif type(b) is bool:
    print('b is a boolean')

b is a boolean

In [118]:
n = None 

if n:
    print("Do you think None is True?")
elif n is False:
    print ("Do you think None is False?")
else:
    print("None is not True, or False, None is just None...") 

if n is None:
    print('n is of NoneType')

None is not True, or False, None is just None...
n is of NoneType

In [121]:
print(b)
if b:
    print(b, 'because b is True ')
    print('if b is a shortcut for if b is True')

True
True because b is True
if b is a shortcut for if b is True

In [122]:
x = [1]
y = x
if x is y:
    print('x and y are the same object')

x and y are the same object

#### 1.7.2 `for` loops

The most common type of loop is the `for` loop. In its most basic form, its synthax is straightforward:

``` python
for value in iterable:
    # do things
```

The iterable can be any `Python` object that can be iterated over. This includes `lists`, `tuples`, `dictionaries`, `strings`. ``

In [123]:
# Try this out
mystring = 'Python'
for s in mystring:
    print(s)

P
y
t
h
o
n

In [124]:
for i in [0,2,3,56]:
    print(i)

0
2
3
56

A common type of for loop is one where the value should go between two integers with a specific set size. To do this, we can use the `range` function. If given a single value, it will give a sequence ranging from 0 to the value minus 1:

``` python
range(10)
    Out: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]  # Warning, it is not a list
range(3, 12)   # 3 and 12 are the starting and one plus the ending value
    Out: [3, 4, 5, 6, 7, 8, 9, 10, 11]  # Warning, it is not a list
range(2, 20, 2)  # the third number, if specified, is taken to be the step size
    Out: [2, 4, 6, 8, 10, 12, 14, 16, 18]  # Warning, it is not a list
``` 

The range function can be used as the iterable in a for loop. `range` is not a list (in python 3), but a specific object.

In [127]:
for r in range(10):
    print(r)

0
1
2
3
4
5
6
7
8
9

In [128]:
for r in range(2, 10, 2):
    print(r)

2
4
6
8

In [129]:
for r in range(2.0, 10.0, 2.2):
    print(r)

TypeError: 'float' object cannot be interpreted as an integer

In [130]:
R = range(2, 10, 2)
print(type(R))

<class 'range'>

In [132]:
T = tuple(range(-2, 10, 2))
print(T)

(-2, 0, 2, 4, 6, 8)

In [133]:
# For loop can loop over any iterable (i.e. not integers)
a = 0 
for i in range(5):
    a = a+1
    print('i=', i, ': a=', a)

i= 0 : a= 1
i= 1 : a= 2
i= 2 : a= 3
i= 3 : a= 4
i= 4 : a= 5

In [134]:
# Use for loop to print at the screen the elements of a list that contains both integers and strings. 
# Try to do it using range and try again without looping over the indices (I.E. without using range)

L_of_i_and_s = [1, 4, 'aba', 'cbd', 8]   # Defining the list 
# Now use a for loop and range to visualise the elements of the list 
for L_element in L_of_i_and_s: 
    print(L_element)

1
4
aba
cbd
8

In [138]:
# Do the same using range 
L_of_i_and_s = [1, 4, 'aba', 'cbd', 8, 443] 
for i in range(len(L_of_i_and_s)): 
    print(i, L_of_i_and_s[i])

0 1
1 4
2 aba
3 cbd
4 8
5 443

#### Note: `enumerate()` 

To iterate over elements of a list and also get in return the indices of these elements in the list, you may use `enumerate`.
``` python
for i, item in enumerate(L): 
    print('i=', i, ' : L = ', item)
```

In [139]:
# What you might be used to 
i = 0
for l in L_of_i_and_s:
    if type(l) == str:
        print('my string is', l, 'is id ', i)
    i = i + 1

my string is aba is id  2
my string is cbd is id  3

In [142]:
L_of_i_and_s = [1, 4, 'aba', 'cbd', 8]   
for i in range(len(L_of_i_and_s)): 
    print(i, L_of_i_and_s[i])

0 1
1 4
2 aba
3 cbd
4 8

In [143]:
L_of_i_and_s = [1, 4, 'aba', 'cbd', 8]   
for i, l in enumerate(L_of_i_and_s): 
    print(i, l)

0 1
1 4
2 aba
3 cbd
4 8

In [140]:
# Saving two lines of code with enumerate
for i, l in enumerate(L_of_i_and_s):
    if type(l) == str:
        print('my string is', l, 'is id ', i)

my string is aba is id  2
my string is cbd is id  3

#### Note:`zip()`

You can also iterate over elements of 2 lists (of the same length) in parallel using `zip()`
``` Python
L1, L2 = list(range(4)), list(range(10,14))
for l1, l2 in zip(L1, L2): 
    print('l1=', l1, 'l2=', l2)
```

In [148]:
R1, R2, R3 = list(range(4)), list(range(10,15)), list(range(20,24))
print(R1, R2)
for r1, r2, r3 in zip(R1, R2, R3): 
    print('r1=', r1, 'r2=', r2, 'r3=', r3)

[0, 1, 2, 3] [10, 11, 12, 13, 14]
r1= 0 r2= 10 r3= 20
r1= 1 r2= 11 r3= 21
r1= 2 r2= 12 r3= 22
r1= 3 r2= 13 r3= 23

#### 1.7.3 `while` loops

Python also provides a `while` loop which is similar to a for loop, but where the number of iterations is defined by a condition rather than an iterator:

``` python 
a = 0
while a < 10:   # a < 10 is the condition
    print(a)    # This line is the first "looping block
    a += 1      # This line is the second "looping block"

```

In [151]:
# Visualize the output of the above code
a = 0
while a < 10 :   # a < 10 is the condition
    print(a)    # This line is the first "looping block
    a += 1      # This line is the second "looping block"

0
1
2
3
4
5
6
7
8
9

#### 1.7.4 List Comprehensions

This is very useful and often overlooked by beginners ... this is however very efficient and quite "pythonic" to use list comprehension. **When possible try to favor list comprehensions over the use of `for` loops**.
A common programming structure when assigning values to a list is the following:

```python
l = []                      # create the list
for i in range(10):
    l.append(i**2)
```

List comprehensions provide a shorter and more readable way of writing the same loop:

``` python
l = [i**2 for i in range(10)]
```

In [152]:
# Write a list comprehension that creates a list of 10 odd numbers
# The way to do it with a "for loop" 
l = []                      # create the list
for i in range(1, 10):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [153]:
l = [i**2 for i in range(1, 10)]
l

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Note:** `and`, `or` are boolean operators. `&`, `|` are the equivalent bitwise operator. The difference is that boolean operators are used on boolean values (i.e. the two expression that are compared should be boolean) while `&` and `|` are generally used on integer values (they just compare the bits and so work at a low level). This means that: boolean operators evaluate the first operand for its truth value, and depending on that value, either evaluate and return the second argument, or don't evaluate the second argument and return the first. In other words, the `and` operator works like: ``` x and y => if x is false, then x, else y ```  
For that reason we will have the following behaviour: 
``` Python
mylist1 = [True,  True,  True,  False,  True]
mylist2 = [False, True, False,  True, False]  

# ---- Example 1 ----  Boolean comparison, each elements of the list are compared pair-wise
>>>mylist1 and mylist2 
[False, True, False, True, False]
# You would have expected [False, True, False, False, False]
# However as explained above
# something_true and x -> x
# something_false and x -> something_false
```
Another important thing to keep in mind is that empty built-in object is treated as logically `False`. This means that:
``` Python
if []:
    print('True')
    >>> # Returns nothing
    
if [False]:
    print('True')
    >>> 'True'
```
Finally, the comparison of 2 lists of booleans, as defined above, with bitwise operator will raise an error because bitwise operations work only on numbers (or conversion of objects to bits, e.g. a string): 
``` python
# ---- Example 2 ----  Comparison of the 2 lists with bitwise operators
mylist1 & mylist2 
TypeError: unsupported operand type(s) for &: 'list' and 'list'

```

See [here](https://stackoverflow.com/questions/22646463/difference-between-and-boolean-vs-bitwise-in-python-why-difference-i) for more detailed explanation of those subtelties and use of bitwise operators with numpy arrays (that we will introduce later).

In [ ]:
if []:
    print('True')

if [False]:
    print('True')

In [ ]:
mylist1 = [True,  True,  True,  False,  True]
mylist2 = [False, True, False,  True, False]  

mylist1 and mylist2

In [ ]:
mylist1 & mylist2

## 1.8 Scripts and Functions

Now that we are familiar with basic syntax, variables, and containers, we will see how to group command lines to run them all at once. This can be done thanks to what is called a `function`. Second, we will also see how to run python outside a Jupyter notebook and manage scripts. 

The Notebook [Scripts_and_functions.ipynb](Scripts_and_functions.ipynb) explains those aspects.

## 1.9 A brief summary of the Python coding recommendations    <a class="anchor" id="IIIh"></a>

From Official `Python` doc https://docs.python.org/3.8/tutorial/controlflow.html   
The full style guide for python coding: https://www.python.org/dev/peps/pep-0008/

- Use 4-space indentation, and no tabs.
- 4 spaces are a good compromise between small indentation (allows greater nesting depth) and large indentation (easier to read). Tabs introduce confusion, and are best left out.
- Wrap lines so that they dont exceed 79 characters. This helps users with small displays and makes it possible to have several code files side-by-side on larger displays.
- Use blank lines to separate functions and classes, and larger blocks of code inside functions.
- When possible, put comments on a line of their own.
- Use docstrings.
- Use spaces around operators and after commas, but not directly inside bracketing constructs: `a = f(1, 2) + g(3, 4)`.
- Dont use fancy encodings if your code is meant to be used in international environments. Plain ASCII works best in any case.

## 1.10 Summary


We have seen that `python` is a multi-paradigm language, namely both *interpreted* and *compiled*. This is the reason why it is very versatile, portable and powerful.  
We have learned about: 
- The main variable types (`int`, `float`, `string`, `complex`), but also the `None` keyword (the unique member of the type `NoneType`); see [Part 1 of this notebook](Python_in_a_nutshell_Part1.ipynb)
- The main comparison operators. Quite standard. For instance, remember that '==' is used for testing an equality. ; see [Part 1 of this notebook](Python_in_a_nutshell_Part1.ipynb)  
- The main built-in structures: `list`, `tuple`, `dictionary`, `set`
- The importance of indentation in writing code, especially when defining a `function`, create `loops`, set `conditions`. 
- We have seen that there is in general no need to pre-declare a variable, nor its type. However, one should be careful that *numbers not followed by a .* are interpreted as integers, but are float otherwise. This can generate bugs as the division of 2 integers is an integer (in python 2.7, not for version > 3). 
- We have been introduced to [iterables](https://www.pythonlikeyoumeanit.com/Module2_EssentialsOfPython/Iterables.html) (lists, tuples, sets, dict) and found out tha one can iterate over their elements via a for loop. 
- We are getting familiar with slicing through lists, and realise that the *first index* of a sequence is *zero*. 
- We have seen that it is very easy to add documentation to a function using triple quotes """
- We have learned how to write `list comprehensions` ( [ x+1 for x in L] ) to increase speed and improve readability.

## References and Additional material:  

**Appendix A** of the book *Statistics, data mining and Machine learning in astronomy* by Z. Ivezic et al. in Princeton Series in Modern Astronomy.  

Other useful references to know more about the topics covered in this class: 

* Introduction to python and solid references:  
    - An Introduction to Python - The Python Tutorial by Guido van Rossum (python creator) and Fred L. Drake, Jr. https://docs.python.org/3/tutorial/index.html
    - Python for astronomers course http://python4esac.github.io/  written by Tom Aldcroft, Tom Robitaille, Brian Refsdal, Gus Muench (Copyright 2011, Smithsonian Astrophysical Observatory; Creative common license), and their version adapted by  Eli Bressert, Neil Creighton and Pieter Degroote : http://www.ster.kuleuven.be/~pieterd/python/html/index.html
    - Python web-tutorial written by Bernd Klein: https://python-course.eu/python-tutorial/
    - Visual way to see how a code is running and how objects are called and filled  http://www.pythontutor.com/visualize.html#mode=edit
    - Concise overview of python capabilities (containers, variable types, operators, ...): https://www.tutorialspoint.com/python/index.htm
    - Style guide for python coding: https://www.python.org/dev/peps/pep-0008/
    - args and kwargs: https://realpython.com/python-kwargs-and-args/
    
* Jupyter Notebooks (we'll go in more details in a future [lecture](Jupyter.ipynb)): 
    - General: https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook#gs.HoI=454
    - Syntax: https://guides.github.com/features/mastering-markdown/
    - Youtube video: https://www.youtube.com/embed/inN8seMm7UI

* About interpreted/compiled language:   
    - General: https://thesocietea.org/2015/07/programming-concepts-compiled-and-interpreted-languages/